body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    text-align: center;
    background: rgb(51, 153, 255);
}

h1 {
    font-size: 60pt;
    margin-top: 0;
}

header {
    width: 95%;
    margin-left: 3%;
    border: 3px solid;
    border-radius: 5px;
    font-size: 30pt;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.secondWrapper {
    display: flex;
    width: 95%;
    margin-left: 3%;
    font-size: 30pt;
}

nav {
    width: 18%;
    border: 3px solid;
    border-radius: 4px;
    margin-right: 15px;
    padding-top: 16%;
}

section {
    width: 80%;
    border: 3px solid;
    border-radius: 4px;
    padding-top: 16%;
    padding-bottom: 16%;
    font-size: 30pt;
}

